.container{
    display: flex;
    gap: 25px;
    justify-content: center;
    text-align: center;
  padding: 15px;
    
}

.blog-card img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}

/* .blog-card:hover{
        transform: scale(1.1); 
        transition: all .7s; 
        background-color: rgb(240, 240, 240);
} */
input{
    border: 2px solid rgb(108, 106, 106);
}

.read p{
    opacity: .8;
    color: gray;
}


@media (max-width:567px){
    .container{
        flex-wrap: wrap;
         margin: 25px;

    }
    .blog-card{
        margin: 15px;
        font-size: 1.2rem; 

    }
}

@media (max-width:768px){
    .container{
        flex-wrap: wrap;

    }
    .blog-card{
        margin: 15px;
        font-size: 1.2rem; 

    }
}
@media (max-width:992px){
    .container{
        flex-wrap: wrap;

    }
    .blog-card{
        margin: 15px;
        font-size: 1.2rem; 

    }
}

@media (min-width:1200px){
    .container{
        flex-wrap: wrap;

    }
    .blog-card:hover{
        transform: scale(1.1); 
        transition: all .5s; 
        background-color: rgb(240, 240, 240);
    }
    .blog-card{
        gap: 15px;
        font-size: 1.3rem; 

    }
}







